TOKEN="TELEGRAM_BOT_TOKEN"
DB_URL="sqlite:///database.db"
ADMIN_PASSWORD="your_admin_password"
WEBHOOK_USE=0
WEBHOOK_DOMAIN=https://your-domain.com
WEBHOOK_PATH=/webhook
WEBHOOK_SECRET=yoursecret
WEBHOOK_PORT=8443
OWNER_CHAT_ID=123456789